<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site{% endblock %}</title>
    
  <!-- Plotly 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Favicons -->
  <link href="/broast/assets/img/favicon.png'" rel="icon">
  <link href="/broast/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="/broast/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/broast/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/broast/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/broast/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/broast/assets/css/main.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Analytics and cookies 
  <script src="/broast/assets/js/stats.js"></script>
  <script src="/broast/assets/js/matomo.js"></script>
  <script src="https://www.unibo.it/++resource++unibo.cookiebanner/unibo-cookies.min.js?v=20"></script> -->

    <!-- Add a block in case you want to add page-specific styles -->
    {% block head %}{% endblock %}
</head>
<body>

    <!-- Include the Navbar -->
    {% include 'navbar.html' %}

    <!-- This block is where specific pages will inject content -->
    {% block content %}{% endblock %}

    <!-- Include the Footer -->
    {% include 'footer.html' %}

    <!-- Vendor JS Files (common for all pages) -->
    <script src="/broast/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/broast/assets/vendor/php-email-form/validate.js"></script>
    <script src="/broast/assets/vendor/aos/aos.js"></script>
    <script src="/broast/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/broast/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/broast/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="/broast/assets/js/main.js"></script>
    <script src="/broast/assets/js/script.js"></script>

    <!-- Page-specific scripts if needed -->
    {% block scripts %}{% endblock %}
</body>
</html>
