{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div class="col-auto px-0" data-aos="fade-up">
          <div id="sidebar" class="pt-5 collapse collapse-horizontal show border-end">
            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
              <h2 class="mb-3 mt-3">Filters</h2>
              <p class="small">Choose a perspective to narrow your search <br> and uncover more historical details <br> about the documents in the collection</p>
                          

              <form method="POST" id="filterForm-date" name="filters" class="filters mt-4 pe-3" action="/filter">
                {% for facet,data in new_facets.items() %}
                      <div class="d-flex align-items-center justify-content-between mt-2">
                        <p class="me-5">{{data.label}}</p>
                        <div class="d-flex ms-5">
                          <div class="form-check form-switch form-check-reverse me-3">
                            <input class="form-check-input" type="radio" name="currently_valid" value="{{facet}}" id="currently_valid-{{data.label}}-facet">
                            <label class="form-check-label" for="currently_valid-{{data.label}}-facet">
                              {{type}}
                            </label>
                          </div>
                          <div class="dropdown dropend">
                            {% if data.available_knowledge_types|length > 2 or 'currently_valid' not in data.available_knowledge_types %}
                              <button type="button" class="dropdown-toggle historical_perspective_button" data-bs-toggle="dropdown">
                                Other <br> perspectives
                              </button>
                              <ul class="dropdown-menu" data-aos="fade-down">
                              {% for type in data.available_knowledge_types %}
                                {% if type != 'currently_valid' %}
                                  <li class="list-group-item" style="border: 1px transparent solid;">
                                  <div class="form-check form-switch form-check-reverse me-3">
                                    <input class="form-check-input" type="radio" name="{{type}}" value="{{facet}}" id="{{type}}-{{data.label}}-facet">
                                    <label class="form-check-label" for="{{type}}-{{data.label}}-facet" style="white-space: nowrap;">
                                      {{type|capitalize|replace('_', ' ')}} {{data.label|lower}}s
                                    </label>
                                  </div>
                                  </li>
                                {% endif %}
                              {% endfor %}
                              </ul>
                            {% else %}
                            <button style="visibility:hidden"type="button" class="dropdown-toggle historical_perspective_button" data-bs-toggle="dropdown">
                              Other <br> perspectives
                            </button>
                            {% endif %}
                        </div>

                        </div>
                      </div>
                      
                      <div id="{{facet}}facets-container" class="animatedDiv"></div>

                {% endfor %}
              
                </form>
              
              
              
              <div class="text-end m-3">
                <button id="resetButton" type="button" class="btn-book-a-table">Reset Filters</button>
              </div>

            </div>
          </div>
        </div>
        <!-- Main Content Area -->
        <div class="mt-5 col ps-md-2 pt-2">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none">
              <i class="bi bi-list bi-lg py-2 p-1"></i> Filters
            </a>
          </div>
          <div class="page-header pt-3">
            <h2 class="fw-bold ms-3">Documents Catalogue</h2>
            <div id="filterResults"></div>
          </div>
        
          <p class="lead fw-bold ms-3">View the collection of documents with disputed authenticity</p>        
          <hr>
          <div class="row">
            <div class="col-12">
              <main class="ms-3" id="catalogue2" style="visibility:hidden; display:none"></main>
              <main class="ms-3"id="catalogue" data-aos="fade-up">
                <!-- <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i>Filters</a> -->
                <div class="row pl-5 pr-5">
                  <p class="float-end text-end fw-bold">
                    <span class="badge bg-secondary">{{result_cards|length}}</span> archival documents
                  </p>
    
                  {% for card in result_cards %}
    
                  <h1>{{card.obj_label}}</h1>
                  <div class="chef-member p-3">
                    <div class="member-info">
                      <h4 class="card-title">{{card.o}}</h4>
                      <p class="card-text">
                        {{card.abstract}}
                        <br>
                        <span class="badge bg-secondary">{{card.n}}</span> available assessment of the document's authenticity
                        <br>
                        <a href={{card.s|replace("https://w3id.org/broast/urk/", "../")}}>See more >></a>
                      </p>
                      
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Contact Section -->
    
{% endblock %}
