<footer id="footer" class="footer dark-background py-5">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 col-md-6 d-flex align-items-start">
        <i class="bi bi-geo-alt icon fs-4 me-3"></i>
        <div class="address">
          <h6 class="text-uppercase fw-bold">Contacts</h6>
          <p class="mb-1">Digital Humanities Advanced Research Center (/DH.arc)</p>
          <p class="mb-1">Dipartimento di Filologia Classica e Italianistica (FICLIT)</p>
          <p class="mb-1">Via Zamboni 32</p>
          <p class="mb-1">Università di Bologna</p>
          <p class="mb-1">40126 Bologna, Italia</p>
          <p>Email: <a href="mailto:dharc@live.unibo.it">dharc@live.unibo.it</a></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 d-flex align-items-start">
        <i class="bi bi-info-circle icon fs-4 me-3"></i>
        <div class="info">
          <h6 class="text-uppercase fw-bold">Info & Acknowledgments</h6>
          <p class="mb-1">© 2024 Valentina Pasqual @ /DH.arc</p>
          <p>The data for this study is sourced from the <i><a href="https://www.landesarchiv-ooe.at/" target="_blank"><b>Index of Medieval Documents Relating to Upper Austria</b></a></i>, thanks to the support of the author, <b>Siegfried Haider</b>, and the publisher <a href="https://www.landesarchiv-ooe.at/" target="_blank"><b>Oberösterreichisches Landesarchiv</b></a>.</p>
          <p><a href="{{url_for('sparql.sparql_gui')}}" class="text-decoration-underline">SPARQL Endpoint</a></p>
          <img alt="Licenza Creative Commons" class="img-fluid my-2" src="https://licensebuttons.net/l/by-nc/4.0/88x31.png">
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>