{% extends 'base.html' %}

{% block title %}Broast.{% endblock %}

{% block content %}

<main class="main">

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container d-flex">
      <div class="row justify-content-between">
        <div class="h-100 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Welcome to Broast<span>.</span></h2>
          <h6 data-aos="fade-up">Broad Representation Of Authenticity aSsessmenT</h6>
          <h3 data-aos="fade-up">A Catalogue of Historical Document Authenticity</h3>
        </div>
        <div class="col-lg-7 order-1 order-lg-2 text-center text-lg-start"> 
          <!-- <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300"> -->
          <div data-aos="fade-up" data-aos-delay="100">
            <p><b>Authenticity assessment</b> is the process of determining the authenticity of <b>historical documents</b>. Scholars from different fields (e.g. Diplomatics, History) may reach <b>different conclusions</b> due to gaps in evidence, or subjectivity and implying that some of their claims may be <b>accepted</b> or <b>disputed</b>.</p>
            <p>Broast. explores the <strong><i>Index of Medieval Documents Concerning the Upper Austrian Region that are Damaged, Tampered with, or Altered</i></strong>, a catalogue compiled by Siegfried Haider (2022) which reports a set of inquiries over 153 known forgeries collected in the <i>Urkundenbuch des Landes ob der Enns</i>.</p>
            <p>It provides <b>insights</b> into how <b>critical debate</b> over historical documents' authenticity has evolved over time, combining historical scholarship and digital tools</p>
            <p></p>
          </div>
          <div class="d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
            <a href="#what_is" class="btn-book-a-table">Browse</a>
            <!-- <a href="broast/ing" class="btn-book-a-table">Insights</a> -->
          </div>
        </div>
      </div>
    </div>
  </section> 

  <section id="why-us2" class="why-us section light-background">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-12 d-flex align-items-stretch w-100 justify-content-center">
          <div class="row gy-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

            {% for quick_query in quick_queries %}
            <div class="col-xl-2">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                {% for res in quick_query.results %}
                {% if res is not string %}
                <h4 class="text-center">{{res.n.value}}</h4>
                {% endif %}
                 {% endfor %}
                 <p class="text-center">{{quick_query.title}}</p>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>

      </div>

    </div>

  </section>

  <!-- ======= Why Us Section ======= -->
  <section id="what_is" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

          <div class="why-box">
            <h3>Browse the collection</h3>
              <p>Browse the documents and the debate surrounding their authenticity</p>
         

            <div class="row gy-4">


              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box d-flex flex-column justify-content-center">
                    <i class="bi bi-clipboard-data"></i>
                    <p class="icon-box-intro">Debated items</p>
                    <h4><a href="./documents/">Documents catalogue </a></h4>
                    <p class="icon-box-description">Filter the documents of the collection by their disputed and accepted information</p>
                  </div>
              </div>

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box d-flex flex-column justify-content-center">
                    <i class="bi bi-gem"></i>
                    <p class="icon-box-intro">Actors of the debate</p>
                    <h4><a href="./scholars/">Scholars<br>index</a></h4>
                    <p class="icon-box-description">Browse the scholars addressing the documents of the collection</p>
                  </div>
                </div>

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box d-flex flex-column justify-content-center">
                    <i class="bi bi-gem"></i>
                    <p class="icon-box-intro">Sources of the debate</p>
                    <h4><a href="./publications">Publications<br>list</a></h4>
                    <p class="icon-box-description">Browse the publication addressing the documents of the collection</p>
                  </div>
                </div>


            </div>
          </div>

      </div>

    </div>
  </section>

</main><!-- End #main -->
    
{% endblock %}
