<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Pasqual Valentina">
  <title>Broast.</title>
  <!-- styles -->
  <!-- analytics and cookies -->
  <script src="assets/js/stats.js"></script>
  <script src="assets/js/matomo.js"></script>
  <script src="https://www.unibo.it/++resource++unibo.cookiebanner/unibo-cookies.min.js?v=20"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <!-- <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet">

</head>

<body class="index-page">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Broast<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Broast in a nutshell</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#what_is">What is BROAST?</a></li>
              <li><a href="#insights">The collection insights</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Browse the collection</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/documents/">Documents catalogue</a></li>
              <li><a href="/scholars/">Scholars index</a></li>
              <li><a href="/publications/">Publications List</a></li>
              <!--<li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>-->
            </ul>
          </li>
          <li><a href="#gallery">Knowledge Organisation</a></li>
        </ul>
      </nav><!-- .navbar -->

      <!-- <a class="btn-book-a-table" href="#book-a-table">Book a Table</a> -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>

  </header><!-- End Header -->




  <main class="main">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center section-bg">
      <div class="container d-flex">
        <div class="row justify-content-between">
          <div class="h-100 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
            <h2 data-aos="fade-up">Welcome to Broast<span>.</span></h2>
            <h6 data-aos="fade-up">Broad Representation Of Authenticity aSsessmenT</h6>
            <h3 data-aos="fade-up">A Catalogue of Historical Document Authenticity</h3>
          </div>
          <div class="col-lg-7 order-1 order-lg-2 text-center text-lg-start"> 
            <!-- <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300"> -->
            <div data-aos="fade-up" data-aos-delay="100">
              <p><b>Authenticity assessment</b> is the process of determining the authenticity of <b>historical documents</b>. Scholars from different fields (e.g. Diplomatics, History) may reach <b>different conclusions</b> due to gaps in evidence, or subjectivity and implying that some of their claims may be <b>accepted</b> or <b>disputed</b>.</p>
              <p>Broast. explores the <strong><i>Index of Medieval Documents Concerning the Upper Austrian Region that are Damaged, Tampered with, or Altered</i></strong>, a catalogue compiled by Siegfried Haider (2022) which reports a set of inquiries over 153 known forgeries collected in the <i>Urkundenbuch des Landes ob der Enns</i>.</p>
              <p>It provides <b>insights</b> into how <b>critical debate</b> over historical documents' authenticity has evolved over time, combining historical scholarship and digital tools</p>
              <p></p>
            </div>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="#what_is" class="btn-book-a-table">Browse</a>
              <a href="#insights" class="btn-book-a-table">Insights</a>
            </div>
          </div>
        </div>
      </div>
    </section> 

    <section id="why-us2" class="why-us section light-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-12 d-flex align-items-stretch w-100 justify-content-center">
            <div class="row gy-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

              {% for quick_query in quick_queries %}
              <div class="col-xl-2">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  {% for res in quick_query.results %}
                  {% if res is not string %}
                  <h4 class="text-center">{{res.n.value}}</h4>
                  {% endif %}
                   {% endfor %}
                   <p class="text-center">{{quick_query.title}}</p>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>

        </div>

      </div>

    </section>

    <!-- ======= Why Us Section ======= -->
    <section id="what_is" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <div class="why-box">
              <h3>Browse the collection</h3>
                <p>Browse the documents and the debate surrounding their authenticity</p>
           

              <div class="row gy-4">


                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box d-flex flex-column justify-content-center">
                      <i class="bi bi-clipboard-data"></i>
                      <p class="icon-box-intro">Debated items</p>
                      <h4><a href="/documents/">Documents catalogue </a></h4>
                      <p class="icon-box-description">Filter the documents of the collection by their disputed and accepted information</p>
                    </div>
                </div>

                  <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box d-flex flex-column justify-content-center">
                      <i class="bi bi-gem"></i>
                      <p class="icon-box-intro">Actors of the debate</p>
                      <h4><a href="/scholars/">Scholars<br>index</a></h4>
                      <p class="icon-box-description">Browse the scholars addressing the documents of the collection</p>
                    </div>
                  </div>

                  <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box d-flex flex-column justify-content-center">
                      <i class="bi bi-gem"></i>
                      <p class="icon-box-intro">Sources of the debate</p>
                      <h4><a href="/publications">Publications<br>list</a></h4>
                      <p class="icon-box-description">Browse the publication addressing the documents of the collection</p>
                    </div>
                  </div>


              </div>
            </div>

        </div>

      </div>
    </section>

    <section id="insights" class="why-us section-bg">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
    
          <!-- Forgont Insights Box -->
          <div class="col-lg-4 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box flex-grow-1 d-flex flex-column justify-content-between">
              <div>
                <h3>Collection Insights</h3>
                <p>A set og highlights on the collection</p>
                <ul>
                {% for query_data in queries %}
                  <li class="m-2"><a href="#insight-{{loop.index}}" style="color:white">{{ query_data.title }}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
    
          <!-- Cards in a 2x2 Vertical Layout -->
          <div class="col-lg-8">
            <div class="row">
              {% for query_data in queries %}
              <div class="col-md-6 mb-4 h-100" data-aos="fade-up" data-aos-delay="200">
                <div class="insight-box icon-box justify-content-center align-items-center h-100">
                  <i class="bi bi-clipboard-data"></i>
                  <h4 id="insight-{{loop.index}}">{{query_data.title}}</h4>
                  <p>{{query_data.description}}</p>
                  {% for el in query_data.results %}
                    {% if 'result' in el %}
                      <div class="row">
                        <div class="col-md-10">
                            <p><a href="{{el.result.value|replace('https://w3id.org/broast/urk/','')}}">{{el.label.value}}</a></p>
                        </div>
                        <div class="col-md-2 text-end">
                            <span class="badge bg-secondary">{{el.n.value}}</span>
                        </div>
                      </div>   
                    {% else %}    
                      <div class="row">
                        <div class="col-md-10">
                            <p>{{el.label.value}}</p>
                        </div>
                        <div class="col-md-2 text-end">
                            <span class="badge bg-secondary">{{el.n.value}}</span>
                        </div>
                      </div>  
                    {% endif %}            
                  {% endfor %}
                  <div class="mt-2 accordion accordion-flush" id="accordionFlushInsight-{{loop.index}}">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingInsight-{{loop.index}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseInsight-{{loop.index}}" aria-expanded="false" aria-controls="flush-collapseInsight-{{loop.index}}">
                          SPARQL query
                        </button>
                      </h2>
                      <div id="flush-collapseInsight-{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="flush-headingInsight-{{loop.index}}" data-bs-parent="#accordionFlushInsight-{{loop.index}}">
                        <div class="accordion-body">
                          <pre>{{query_data.query}}</pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <footer id="footer" class="footer dark-background">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Address</h4>
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> <span>+1 5589 55488 55</span><br>
              <strong>Email:</strong> <span>info@example.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat:</strong> <span>11AM - 23PM</span><br>
              <strong>Sunday</strong>: <span>Closed</span>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>
