{% extends 'base.html' %}

{% block head %} 

<!-- Leaflet.js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- Leaflet MarkerCluster -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Include Moment.js for Date Handling -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.0/chartjs-adapter-moment.min.js"></script>

<style>
  #map {
    height: 400px; /* Adjust the height as needed */
    width: 100%; /* Optional, but helps for full-width layout */
  }

  #network {
    width: 800px;
    height: 600px;
    border: 1px solid lightgray;
  }
</style>

{% endblock %}

{% block title %}Broast.{% endblock %}

{% block content %}

<!-- MAP  -->
<section id="map_container" class="why-us section-bg  pt-5 mt-5">
  <div class="container pt-5 " data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-4 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box flex-grow-1 d-flex flex-column justify-content-between">
          <div>
            <h5 style="color: white;">Alleged Places of Creation for the Documents</h5>
            <h6 style="color: white;">Authenticity in Question</h6>
            <p>The map shows the locations associated with the creation of historical documents whose authenticity has been debated, revealing the geographical context of these documents and the debates surrounding their provenance.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <div class="flex-grow-1 d-flex flex-column justify-content-between">
          <div id="map" class="w-100 h-100"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TIME-CHART  -->
<section id="map_container" class="why-us section-bg ">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-8 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <div class="flex-grow-1 d-flex flex-column justify-content-between">
          <canvas id="chart"></canvas>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box flex-grow-1 d-flex flex-column justify-content-between">
          <div>
            <h5 style="color: white;">The Most Productive Centuries</h5>
            <h6 style="color: white;">A Debate Between Authenticity and Forgery</h6>
            <p>The line-chart shows the most productive centuries for documents as allegedly considered (therefore authentic) and as currently believed by the scholalry community (therefore forged) 
              <br><br>
              The <i>x-axis</i> show the century of creation of the documents 
              <br><br>
              The <i>y-axisis</i> show the number of documents normalised under the total scholalry opinions for each century
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TRENDS-CHART  -->
<section id="map_container" class="why-us section-bg ">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-4 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box flex-grow-1 d-flex flex-column justify-content-between">
          <div>
            <h5 style="color: white;">Scholalry opinions trends throught history</h5>
            <p>The chart shows the evolution of scholalry opinions towards the clafficiation of the documents in the collection.
              <br><br>
              The <i>x-axis</i> show the date of publication in which the scholalry opinion is stated 
              <br><br>
              The <i>y-axisis</i> show the Document ID in the collection
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <div class="flex-grow-1 d-flex flex-column justify-content-between h-100">
          <canvas id="dateChart" class="w-100 h-100"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="insights" class="why-us section-bg">
<div class="container" data-aos="fade-up">
  <div class="row gy-4">

    <!-- Forgont Insights Box -->
    <div class="col-lg-4 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
      <div class="why-box flex-grow-1 d-flex flex-column justify-content-between">
        <div>
          <h3>Collection Insights</h3>
          <p>A set og highlights on the collection</p>
          <ul>
          {% for query_data in queries %}
            <li class="m-2"><a href="#insight-{{loop.index}}" style="color:white">{{ query_data.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Cards in a 2x2 Vertical Layout -->
    <div class="col-lg-8">
      <div class="row">
        {{query_data}}
        {% for query_data in queries %}
        <div class="col-md-6 mb-4 h-100" data-aos="fade-up" data-aos-delay="200">
          <div class="insight-box icon-box justify-content-center align-items-center h-100">
            <i class="bi bi-clipboard-data"></i>
            <h5 id="insight-{{loop.index}}">{{query_data.title}}</h5>
            <p>{{query_data.description}}</p>
            {% for el in query_data.results %}
              {% if 'result' in el %}
                <div class="row">
                  <div class="col-md-10">
                      <p><a href="{{el.result.value|replace('https://w3id.org/broast/urk/','')}}">{{el.label.value}}</a></p>
                  </div>
                  <div class="col-md-2 text-end">
                      <span class="badge bg-secondary">{{el.n.value}}</span>
                  </div>
                </div>   
              {% else %}    
                <div class="row">
                  <div class="col-md-10">
                      <p>{{el.label.value}}</p>
                  </div>
                  <div class="col-md-2 text-end">
                      <span class="badge bg-secondary">{{el.n.value}}</span>
                  </div>
                </div>  
              {% endif %}            
            {% endfor %}
            <div class="mt-2 accordion accordion-flush" id="accordionFlushInsight-{{loop.index}}">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingInsight-{{loop.index}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseInsight-{{loop.index}}" aria-expanded="false" aria-controls="flush-collapseInsight-{{loop.index}}">
                    SPARQL query
                  </button>
                </h2>
                <div id="flush-collapseInsight-{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="flush-headingInsight-{{loop.index}}" data-bs-parent="#accordionFlushInsight-{{loop.index}}">
                  <div class="accordion-body">
                    <pre>{{query_data.query}}</pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>
    
{% endblock %}
