<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="{{url_for('main.index')}}" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Broast<span>.</span></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown"><a href="#"><span>Broast in a nutshell</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="{{url_for('main.index')}}">What is BROAST?</a></li>
            <li><a href="{{url_for('insights.insights')}}">The collection insights</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Browse the collection</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="{{url_for('documents.documents')}}">Documents catalogue</a></li>
            <li><a href="{{url_for('scholars.scholars')}}">Scholars index</a></li>
            <li><a href="{{url_for('publications.publications')}}">Publications List</a></li>
          </ul>
        </li>
        <li><a href="{{url_for('knowledge_organisation.knowledge_organisation')}}">Knowledge Organisation</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>

</header>