{% extends 'base.html' %}

{% block title %}Broast.{% endblock %}

{% block content %}

<main>
  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="documents-list">

          <div class="tab-header text-center">
            <p>List of</p>
            <h3>Publications</h3>
          </div>

        </div><!-- Documnet list Tab -->

        <div id="publications-list">


          <div class="row gy-5">

            {% set initials = {} %}
            {% for res in publications.results.bindings %}
                {% set initial = res.classLabel.value %}
                {% if initial not in initials %}
                    {% set _ = initials.update({initial: [res]}) %}
                {% else %}
                    {% set _ = initials[initial].append(res) %}
                {% endif %}
            {% endfor %}

            <!-- TABLE OF CONTENTS -->
            <div class="d-flex justify-content-center flex-wrap">
              {% for initial in initials %}
                <a href="#{{initial}}" class="badge bg-secondary mx-2">{{ initial | capitalize }}</a>
              {% endfor %}
            </div>

            {% for initial, names in initials.items() %}
                <div class="initial-group">
                    <h2><span class="badge bg-secondary" id="{{initial}}">{{ initial |capitalize }}</span></h2>
                    {% for res in names %}

                    <div class="container p-3">
                    <a href={{ res.ref.value|replace('https://w3id.org/broast/urk/', '../') }}>{{ res.title.value }}</a>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
          </div>
        </div>

        <!-- End Breakfast Menu Content -->

      </div>

    </div>
  </section><!-- End Menu Section -->
</main>
    
{% endblock %}
