{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="documents-list">

          <div class="tab-header text-center">
            <p>Index of</p>
            <h3>Scholars</h3>
          </div>

        </div><!-- Documnet list Tab -->

        <div id="scholars-list">


          <div class="row gy-5">

            {% set initials = {} %}
            {% for res in scholars.results.bindings %}
                {% set initial = res.label.value[0] %}
                {% if initial not in initials %}
                    {% set _ = initials.update({initial: [res]}) %}
                {% else %}
                    {% set _ = initials[initial].append(res) %}
                {% endif %}
            {% endfor %}

            <!-- TABLE OF CONTENTS -->
            <div class="d-flex justify-content-center flex-wrap">
              {% for initial in initials %}
                <a href="#{{initial}}" class="badge bg-secondary mx-2">{{ initial | capitalize }}</a>
              {% endfor %}
            </div>


            {% for initial, names in initials.items() %}
                <div class="initial-group">
                    <h2 id="{{initial}}">{{ initial }}</h2>
                    {% for res in names %}

                    <div class="container p-3 mb-4 bg-light rounded-3 shadow-sm">
                    <a href={{ res.scholar.value|replace('https://w3id.org/broast/urk/', '../') }}>{{ res.label.value }}</a>
                    <p class="text-end me-0 ms-auto"><span class="badge bg-secondary">{{res.refCount.value}}</span> publication{% if res.refCount.value|int > 1 %}s{% endif %}
                      addressing <span class="badge bg-secondary"> {{res.docsCount.value}}</span> archival document{% if res.docsCount.value|int > 1 %}s{%endif%}
                    </li>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
          </div>
        </div>

        <!-- End Breakfast Menu Content -->

      </div>

    </div>
  </section><!-- End Menu Section -->
  
</main>

{% endblock %}
