{% extends 'base.html' %}

{% block title %}Broast.{% endblock %}

{% block content %}

<main class="main">
<section>
<div class="container mt-5 pt-5" data-aos="fade-up" data-aos-delay="100">
  <div class="row w-100">
    <div class="col-md-8">
      <h1 class="text-end">{{scholar_name}}</h1>

      <!-- Wikidata Info Box -->
      <div class="container p-3 mb-4 bg-light rounded-3 shadow-sm">
        {% if 'image' in wikidata_info %}
          <img src="{{wikidata_info.image}}" class="img-fluid m-3" alt="{{scholar_name}}" style="max-width: 150px; border-radius: 8px;">
        {% endif %}
        <ul class="list-unstyled">
          {% if wikidata_info is string %}
            <p>Unfortunately, biographical information about this scholar is currently unavailable</p>
          {% else %}
            {% for info, data in wikidata_info.items() %}
              {% if data.__class__.__name__ == "list" %}
                <li><strong>{{info}}:</strong>
                {% for d in data %}
                  <a href="https://www.wikidata.org/wiki/{{d[0]}}" target="__blank">{{d[1]|capitalize}}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                </li>
              {% endif %}
              {% if data.__class__.__name__ == "tuple" %}
                <li><strong>{{info}}:</strong> <a href="{{data[0]}}">{{data[1]|capitalize}}</a></li>
              {% endif %}
              {% if data.__class__.__name__ == "str" and info != 'image' %}
                <li><strong>{{info}}:</strong> <span>{{data[1:5]|capitalize}}</span></li>
              {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
      </div>
      <!-- end Wikidata info box -->
      
      <!-- Publications section -->
      <div>
      <h2 class="h3 my-4 text-end">Publications <span class="badge bg-secondary">{{scholar_works.results.bindings | length }}</span></h2>
        {% for ref in scholar_works.results.bindings %}
          <div class="row">
            <p>{{ref.reference_text.value }}</p>
            <div class="list-unstyled  container p-3 mb-4 bg-light rounded-3 shadow-sm">
                <p>{{scholar_name}} is <span class="badge bg-secondary">{{ref.propertyLabel.value | lower }}</span> of this <span class="badge bg-secondary">{{ref.classLabel.value}}</span></p>
                <a href="{{ ref.ref.value|replace('https://w3id.org/broast/urk/', '../') }}" class="me-0 text-end ms-auto">See more</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- End Publications section -->
    </div>
    
    <!-- Related Elements -->
    <div class="col-md-4 h-100">
          
        {% for name,results in related_elements.items() %}
          
        <div class="p-3 pt-5">
          {% if 'Related scholars' in name %}
          <div class="d-flex align-items-center">
            <h3 class="m-0">{{name}}</h3>
            <button class="btn ms-auto me-3" id="info_related_scholars" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_related_scholars" aria-expanded="false" aria-controls="collapse_related_scholars">
              <i class="bi bi-info-circle"></i>
            </button>
          </div>
          <div class="collapse" id="collapse_related_scholars">
            <small>
              <i>Other scholars citing the same documents (ranked by the number of common documents)</i>
            </small>
          </div>
          {% endif %}

          {% if 'Related documents' in name %}
          <div class="d-flex align-items-center">
            <h3 class="m-0">{{name}}</h3>
            <button class="btn ms-auto me-3" id="info_related_documents" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_related_documents" aria-expanded="false" aria-controls="collapse_related_documents">
              <i class="bi bi-info-circle"></i>
            </button>
          </div>
          <div class="collapse" id="collapse_related_documents">
            <small>
              <i>Documents cited by this scholar</i>
            </small>
          </div>
          {% endif %}
          
          <ul class="list-unstyled pt-2">
            {% for data in results.results.bindings %}
              {% if loop.index <= 5 %}
                <li class="p-1 d-flex justify-content-between align-items-center"><a href="{{data.item.value|replace('https://w3id.org/broast/urk/', '../')}}" class="text-decoration-none">{{data.itemLabel.value}}</a></li>
              {% endif %}
            {% endfor %}

            {% if results.results.bindings | length  > 5 %}
              <div class="collapse" id="collapseAuthors">
              {% for data in results.results.bindings %}
                {% if loop.index > 5 %}
                <li class="p-1 d-flex justify-content-between align-items-center"><a href="{{data.item.value|replace('https://w3id.org/broast/urk/', '../')}}" class="text-decoration-none">{{data.itemLabel.value}}</a></li>
                {% endif %}
              {% endfor %}
              </div>
            {% endif %}
          </ul>

          {% if results.results.bindings | length  > 5 %}
          <div class="d-flex justify-content-center">
            <button class="text-center" id="seeMore" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAuthors" aria-expanded="false" aria-controls="collapseAuthors">
              <i class="bi bi-chevron-compact-down"></i>
            </button>
          </div>
          {% endif %}
        </div>
      {% endfor %}            
    </div>
    <!-- End Related Elements -->
       
    </div>
  </div>
</section>
</main>

{% endblock %}
